.loan-card {
  width: 250px;
  height: 145px;
  color: #fff;
}

.menu-button {
  position: absolute;
  top: 0;
  right: 0;
}

.colored-tooltip {
  background: #c8e6c9;
  color: black !important;
  font-size: 15px;
}
