.content {
  height: 500px;
  max-height: 500px;
  overflow: hidden;
}

.insurance-list {
  overflow-y: auto;
  height: 350px;
  max-height: 350px;
}

.insurances {
  height: 423px;
}

.checkbox-center {
  position: relative;
  top: 11px;
  width: 30px;
}

.max-amount {
  width: 120px;
}

.type {
  width: 130px;
}

.rate {
  width: 60px;
}

.duration {
  width: 80px;
}

.company {
  width: 90px;
}

.person {
  width: 150px;
}

.risks-covered {
  width: 127px;
}

.grace-period-duration {
  width: 150px;
}

.grace-period-type {
  width: 120px;
}

.small-inputs {

  // ::ng-deep input {
  //   height: 17px !important;
  // }
  ::ng-deep .mat-card-header .mat-card-title {
    font-size: 12px !important;
  }
  ::ng-deep .mat-card-header-text {
    margin: 0 2px;
  }

  // ::ng-deep .mat-button-toggle-label-content {
  //   line-height: 33px !important;
  // }
}
