<mat-form-field appearance="outline">
    <mat-label>{{inputLabel}}</mat-label>
    <input matInput
           type="text"
           [placeholder]="inputLabel"
           [formControl]="control"
           [matAutocomplete]="autoComplete">
    <mat-autocomplete #autoComplete="matAutocomplete" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let value of filtered$ | async" [value]="value">
        {{ value }}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>