<div [formGroup]="lmnp">

    <h3>Remplir à minima la durée du dispositif, le loyer, et les revenus ou le revenus fiscal de référence de l'année N-1.</h3>    

    <div>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Durée du dispositif</mat-label>
            <input type="number" matInput formControlName="duration">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Loyer mensuel</mat-label>
            <input type="number" matInput formControlName="monthly_rent_value">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Evolution annuelle du loyer mensuel</mat-label>
            <input type="number" matInput formControlName="monthly_rent_value_yearly_evolution_rate">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Evolution annuelle du prix</mat-label>
            <input type="number" matInput formControlName="price_yearly_evolution_rate">
        </mat-form-field>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Charges locatives (en % du loyer)</mat-label>
            <input type="number" matInput formControlName="renting_charges_rate">
        </mat-form-field>
            <mat-form-field floatLabel="always" appearance="none">
                <mat-checkbox formControlName="guestroom_or_classified">Chambre d'hôte ou meublé de tourisme classé</mat-checkbox>
                <textarea matInput hidden></textarea>
            </mat-form-field>
        <mat-form-field appearance="outline" class="mr-3">
            <mat-label>Régime d'imposition</mat-label>
            <mat-select formControlName="tax_mode">
                <mat-option value="REAL">{{ toTaxModeMap('REAL') }}</mat-option>
                <mat-option value="MICRO_FONCIER">{{ toTaxModeMap('MICRO_FONCIER') }}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>


    <div formGroupName="property">
        <div formGroupName="expenses">
            <div>
                <span class="header">Projet</span>

                <mat-form-field appearance="outline" class="mr-3">
                    <mat-label>État du projet</mat-label>
                    <mat-select formControlName="project_state">
                        <mat-option value="BEFORE_COMPROMIS">{{ projectStateToString('BEFORE_COMPROMIS') }}</mat-option>
                        <mat-option value="COMPROMIS_SIGNED">{{ projectStateToString('COMPROMIS_SIGNED') }}</mat-option>
                        <mat-option value="SIGNED">{{ projectStateToString('SIGNED') }}</mat-option>
                        <mat-option value="CANCELED">{{ projectStateToString('CANCELED') }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Prix</mat-label>
                <input type="number" matInput formControlName="price">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>TVA</mat-label>
                <input type="number" matInput formControlName="vat">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Autre taxes</mat-label>
                <input type="number" matInput formControlName="other_taxes">
            </mat-form-field>
        </div>

        <div formGroupName="surfaces">
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Surface</mat-label>
                <input type="number" matInput formControlName="surface">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Surface additionnelle</mat-label>
                <input type="number" matInput formControlName="additional_surface">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Surface du terrain</mat-label>
                <input type="number" matInput formControlName="land_surface">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Date de livraison</mat-label>
                <input matInput [matDatepicker]="deliveryDatePicker" formControlName="delivery_date" placeholder="JJ/MM/AAAA">
                <mat-datepicker-toggle matSuffix [for]="deliveryDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #deliveryDatePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Normes de construction</mat-label>
                <mat-select formControlName="construction_norms">
                    <mat-option value="RT_2020">{{ constructionNormToString('RT_2020') }}</mat-option>
                    <mat-option value="HPE_2012">{{ constructionNormToString('HPE_2012') }}</mat-option>
                    <mat-option value="SIGNED">{{ constructionNormToString('RT_2012') }}</mat-option>
                    <mat-option value="BBC_RENOV_2009">{{ constructionNormToString('BBC_RENOV_2009') }}</mat-option>
                    <mat-option value="HPE_RENOV_2009">{{ constructionNormToString('HPE_RENOV_2009') }}</mat-option>
                    <mat-option value="RT_2005">{{ constructionNormToString('RT_2005') }}</mat-option>
                    <mat-option value="RT_ANTERIEUR">{{ constructionNormToString('RT_ANTERIEUR') }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Numéro de lot</mat-label>
                <input matInput formControlName="lot_number">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Nombre de pièces</mat-label>
                <input type="number" matInput formControlName="rooms_count">
            </mat-form-field>
            <mat-form-field appearance="outline" class="mr-3">
                <mat-label>Programme</mat-label>
                <input matInput formControlName="program">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>DPE</mat-label>
                <mat-select formControlName="dpe_rate">
                    <mat-option value="A">A</mat-option>
                    <mat-option value="B">B</mat-option>
                    <mat-option value="C">C</mat-option>
                    <mat-option value="D">D</mat-option>
                    <mat-option value="E">E</mat-option>
                    <mat-option value="F">F</mat-option>
                    <mat-option value="G">G</mat-option>
                    <mat-option value="VIERGE">VIERGE</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <app-administrative-information [administrativeInformation]="administrative_information"></app-administrative-information>
        
        <div formGroupName="expenses">
            <span class="header">Frais du projet</span>
            <mat-form-field formGroupName="fees" appearance="outline" class="mr-3">
                <mat-label>Frais d'agence</mat-label>
                <input type="number" matInput formControlName="agency_fees">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
            <mat-form-field formGroupName="fees" appearance="outline" class="mr-3">
                <mat-label>Frais de notaire</mat-label>
                <input type="number" matInput formControlName="notary_fees">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Autre frais</mat-label>
                <input type="number" matInput formControlName="other_expenses">
                <mat-icon matSuffix>euro</mat-icon>
            </mat-form-field>
        </div>
    </div>
</div>